<%- include('../../views/header_email.ejs') %>

  <div style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">

    <p style="margin-bottom: 20px; font-size: 18px; color: #333;">
      ¡Hola <strong>
        <%=usuario.nombre%>,
      </strong> un gusto de saludarte!
    </p>
    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      Te damos la bienvenida al sistema de gestión 
      <% if((usuario.roles_id == 3 && usuario.sub_rol_id == 5) || (usuario.roles_id == 4 && usuario.sub_rol_id == 5)) { %>
        de Guardarropas
      <% } else if((usuario.roles_id == 3 && usuario.sub_rol_id == 2) || (usuario.roles_id == 4 && usuario.sub_rol_id == 2) ) { %>
        del Sector VIP.
      <% } else { %>
        del Casino Trilenium.
      <% } %>
    </p>
    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      <strong>-</strong> Usuario: <strong>
        <%=usuario.legajo%>
      </strong>.
    </p>
    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      <strong>-</strong> Contraseña inicial: <strong>
        <%=password%>
      </strong>.
    </p>
    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      Te recordamos que la contraseña deberá de cambiarse al iniciar sesión por
      primera vez.
    </p>
    <br />
    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">¡Att. área de Juegos - Casino Trilenium!</p>
  </div>
  <%- include('../../views/footer_email') %>